button {
  font-size: 17px;
  background-color: #eee;
  color: black;
  padding: 5px;
  border: 1px solid #696969;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  min-width: 40px;
  opacity: 0.5;
}

input,
textarea {
  box-sizing: border-box;
  display: inline-block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 17px;
  width: 100%;
  min-width: 100px;
  height: 40px;
  padding: 5px;
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}

textarea {
  resize: none;
  overflow: hidden;
}

table {
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
}

th {
  background-color: black;
  color: white;
  font-size: 17px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #A9A9A9;
}
